@page
@model IndexModel
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home page";
    var selectedList = Model.SelectedList;
}
<div class="row">
    <div class="col-md-2">
        <div class="lists-container">
            <h1>Lists</h1>
            <ul>
                @foreach (var item in Model.Lists)
                {
                    var selected = selectedList != null && selectedList.Id == item.Id;
                    var className = selected ? "selected" : "";
                    <li><a href="@Url.Page("Index", new {listUid = item.Uid})" class="@className">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="add-item-container">
            <h1>Add an item</h1>

            <form method="post">
                <input type="hidden" asp-for="SelectedList.Uid" />
                <div class="form-group">
                    <input type="text" name="title" class="textbox" placeholder="Enter a URL">
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="items-container">
            @foreach (var item in Model.Items)
            {
                <li><a href="#">@item.Title</a></li>
            }
        </div>


    </div>
</div>