@page
@model IndexModel
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home page";
}

<h1>Lists</h1>
<ul>
    @foreach (var item in Model.DataTypes)
    {
        <li>@item.SystemType</li>
    }
</ul>