@page
@model IndexModel
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-2">
        <div class="lists-container">
            <h1>Lists</h1>
            <ul>
                @foreach (var item in Model.Lists)
                {
                    <li><a href="@Url.Page("Index", new {listUid = item.Uid})">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="add-item-container">
            <h1>Add an item</h1>
            <input type="text" class="textbox">
        </div>
    </div>
</div>